:root {
    --primary-color: #846c9c;       
    --secondary-color: #fa198b;      
    --thirdary-color: #ff6f91;       
    --accent-color: #3a86ff; 
    --font-one: "Poppins", sans-serif;
    --font-two: "Nunito", sans-serif;
    --font-three: "Quicksand", sans-serif;
}