@media screen and (min-width: 500px) {
    main {
        max-width: 1000px;
        margin: 1rem auto;
    }
    
    .title {
    text-align: center;
    background-color: var(--background-color);
    }
    .title img {
        width: 200px;
        height: auto;
    }
    #menu {
		display: none; 
	}
    header{
        display: flex;
    }
    .title {
        flex: 1;
        text-align: left;
    }
    .navigation{
        flex-direction: row;
    }
    .navigation a {
        font-size: 1.2rem;
        display: block;
		flex: 1 1 100%;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);
    }
    .hero{
        position: relative;

    }
    .hero picture, .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    }
    .hero section .one {
        width: 254px;
	    padding: 8px 8px 8px 8px;
        position: absolute;
        opacity: 86%;
        top: 0;
        left: 0;
        background: #FFFFFF;
        border-color: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        font-size: 14px;
}
.card {
    width: 100%;;

}