:root {
    --primary-color: #5a189a;       
    --secondary-color: #fa198b;      
    --thirdary-color: #ff6f91;       
    --accent-color: #3a86ff; 
    --background-color: #f1efff;
    --font-one: "Poppins", sans-serif;
    --font-two: "Nunito", sans-serif;
    --font-three: "Quicksand", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-one);
    color: var(--primary-color);
}
.title {
    text-align: center;
    background-color: var(--background-color);
}
img {
    width: 350px;
    height: auto;
}
nav { 
    margin: 0 auto;
}

h1{
    display: block;
}
#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: var(--primary-color);
}

#menu.open::before {
	content: "✖";
    color: white;
}

.navigation {
	list-style: none;
	display: flex;
	flex-direction: column;
    color: #fff;
}

.navigation a {
	display: none;
	color: #fff;
    background-color: var(--primary-color);
	text-align: center;
	text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.navigation a:hover {
	text-decoration: underline;
	background-color: #eee;
	color: #000;
}
.open a {
	display: block;
}
.open img{
    display: none;
}