:root {
    --primary-color: #5a189a;       
    --secondary-color: #fa198b;      
    --thirdary-color: #ff6f91;       
    --accent-color: #3a86ff; 
    --background-color: #f1efff;
    --font-one: "Poppins", sans-serif;
    --font-two: "Nunito", sans-serif;
    --font-three: "Quicksand", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    background-color: var(--background-color);
}
img {
    width: 400px;
    height: auto;
}