:root {
    --primary-color: #FC9F1C;
    --secondary-color: #FFE77C;
    --accent1-color: #025595;
    --accent2-color: #A6DEF6;
    --heading-font: "Play", sans-serif;
    --body-font: "Raleway", sans-serif;
}