:root {
    --primary-color: #231942;
    --secondary-color: #5e548e;
    --accent1-color: #ffafcc;
    --accent2-color: #bde0fe;
    --accent3-color: #a2d2ff;
    --heading-font: "Play", sans-serif;
    --body-font: "Raleway", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    
}
header {
    grid-column: 1 / 3;
    
}

.course-title{
    display: block;
    
}
.header-title {
    color:white;
	height: 50px;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    background: var(--primary-color);
}



nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: var(--secondary-color);
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
	text-decoration: overline;
}

/* larger/wider views **************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 0 auto; 
}

main{
    display: grid;
    grid-template: auto 1fr / 500px 1fr;
}
main h1{
    grid-column: 1/3;
    text-align: center;
}
section{
    border: 4px solid white;
}

.card .rectangle{
    color:white;
    padding: 8px;
    text-align: center;
    background: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.card .rectangle-2{
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}




footer{
    color:  #fff;
    background: var(--primary-color);
    grid-column: 1 / 3;
    text-align: center;
}