body{
    font-family: "Lato", sans-serif;
    margin: 1rem;
}

* {
	box-sizing: border-box;
    padding: 0;
}
fieldset{
	background-color: #e7e6f7;
	padding: 1rem;
	border-radius: 5px ;
	border: 1px solid #ccc;
	border-color: #f0f0f0;
}
.title {
	background-color: #5a189a;
	height: 60px;
	margin-bottom: 10px;

}
.title h1{
	text-align: center;
	color: white;
	padding: 0.5rem;
}
section {
    margin: 1rem 0;
	
}
label {
	display: block;
    font-weight: bold;
}
select, input[type="text"], input[type="date"], textarea{
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
	border: none;
	border-radius: 4px;
}
button {
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 100%;
	padding: 0.8rem 1rem;
	cursor: pointer;
	margin-top: 0.5rem;
	font-weight: bold;
	font-size: large;
}
button:hover {
	background-color: #ccc9dc;
    cursor: pointer;
	border: 1px solid #ccc;
}
footer {
	background-color: #5a189a;
	color: #fff;
	text-align: center;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}


input[type=checkbox] {
	margin-left: 10px;
}

#task {
	width: 25px;
	height: 25px;
}

.vcentered {
	display: flex;
	align-items: center;
}
/* other */
.inline {
	display: inline;
}

.ref {
	font-size: 13px;
	margin-top: 1rem;
}