:root {
    --primary-color: #1b4332;
    --secondary-color: #5e548e;
    --font: "Berkshire Swash", serif;
}

.berkshire-swash-regular {
  font-family: var;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0 auto;
    padding: 0;
}