@media screen and (min-width: 700px) {

    main {
        max-width: 2000px;
    }

    .hero{
        position: relative;

    }
    .hero picture, .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    }
    .hero section{
        position: absolute;
	
}
    .hero section h2{
        background: var(--secondary-color);
        border-color: var(--secondary-color);
        border-width: 1px;
        border-style: solid;
        text-align: left;
    }
    section img{
        display: none;
    }


}
    
    