body{
    font-family: "Lato", sans-serif;
}
body{
    margin: 1rem
}
footer{
    color:  #fff;
    background: #5a189a;
    text-align: center;
    padding: 8px;
    position: relative;
    bottom: 0;
    
}
footer p {
    padding: 4px;
}