:root {
    --primary-color: #1b4332;
    --secondary-color: #5e548e;
    --font: "Lato", sans-serif;
}
header, main, footer {
    font-family: var(--font);
}
header, footer{
    background: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}