@media screen and (min-width: 500px) {
    
    h1 {
        margin-left: 0;
    }
    
    
    main {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 25px;
    place-items: center;
    margin: 1rem auto;
}
    
    main h2{
        grid-column: 1/4;
    }
    #menu {
		display: none; 
	}
    header{
        display: flex;
    }
    .navigation{
        flex-direction: row;
    }
    .navigation a {
        font-size: 1.2rem; 
        display: block;
    }

}