:root {
    --primary-color: #1b4332;
    --secondary-color: #5e548e;
    --font: "Lato", sans-serif;
}
body {
    font-family: var(--font);
}
header {
	background: var(--primary-color);
    color: white;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
}

main { 
    max-width: 800px;
  margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}

.active {
	color: yellow;
}

footer{
    color:  #fff;
    background: var(--primary-color);
    text-align: center;
    padding: 8px;
}
.last-modified {
    font-size: 0.8rem;
    color: yellow;
}