:root {
    --primary-color: #cdb4db;
    --secondary-color: #ffc8dd;
    --thirdary-color: #ffafcc;
    --accent-color: #bde0fe;
    --background-color: #ffffff;
    --font-one: "Poppins", sans-serif;
    --font-two: "Nunito", sans-serif;
    --font-three: "Quicksand", sans-serif;
}
body {
  font-family: var(--font-one);
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1, h2, h3 {
  font-family: var(--font-two);
  color: #cdb4db;
}
