:root {
    --primary-color: #7f2ccb;       
    --secondary-color: #fa198b;      
    --thirdary-color: #ff6f91;       
    --accent-color: #3a86ff; 
    --font-one: "Poppins", sans-serif;
    --font-two: "Nunito", sans-serif;
    --font-three: "Quicksand", sans-serif;
}
body {
    font-family: var(--font-one);
    background-color: var(--background-color);
    color: var(--primary-color);
}


h1, h2, h3 {
    font-family: var(--font-two);
    color: var(--secondary-color);
}
footer{
    color:  #fff;
    background: var(--primary-color);
    text-align: center;
    padding: 8px;
    
}
footer p {
    padding: 4px;
}
.last-modified {
    font-size: 0.8rem;
}