:root {
    --primary-color: #231942;
    --secondary-color: #5e548e;
    --
    --font: "Lato", sans-serif;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Play', sans-serif;
  color: #cdb4db;
}
